h1 {
    font-size: 30px
}

.content {
    width: 60%;
    float: left;
    
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: sans-serif;
    
}
.moreContent {
    width: 35%;
    float: right;
    margin-right: 2.5%;
    
}

.adTest {
    width: 100%;
}
.authorInfo {
    border-top: solid 3px black;

}
.more-content-p {
    margin-left: 50px
}
.authorPic {
    width: 50%;
    float:left
}
.authorBlurb {
    margin-top: 40px;
}